/* text and button styles CSS */
h1 {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 150%;
    color: #082650;
}
h2 {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: #082650;
}
h3 {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 150%;
    color: #082650;
}
h4 {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    color: #082650;
}
h5 {
    font-family: 'Hind', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #082650;
}
h6 {
    font-family: 'Hind', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 150%;
    letter-spacing: 0.03em;
    color: #082650;
}
p {
    font-family: 'Hind', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 25px;
    letter-spacing: 0.02em;
    color: #082650;
}
#bold {
    font-weight: 600;
}
.button-primary {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 2%;
    color: #FCFFFE; 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 25px;
    gap: 10px; 
    background-color: #307BB6;
    border-radius: 8px;
    border: none;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 5px;
}
.button-primary:hover {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 2%;
    color: #0D0D0D; 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 25px;    
    gap: 10px; 
    background-color: #CB8CCE;
    border-radius: 8px;
    border: none;
    margin-bottom: 5px;
}
.button-primary:active {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 2%;
    color: #0D0D0D; 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 25px;
    gap: 10px; 
    background-color: #AFDAE9;
    border-radius: 8px;
    border: 4px solid #082650;
    margin-bottom: 5px;
}
.button-secondary {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 2%;
    color: #307BB6; 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 25px;
    gap: 10px; 
    background-color: #FCFFFE;
    border-radius: 8px;
    border: 3px solid #307BB6;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 5px;
}
.button-secondary:hover {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 2%;
    color: #CB8CCE; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 25px;    
    gap: 10px; 
    background-color: #FCFFFE;
    border-radius: 8px;
    border: 3px solid #CB8CCE;
    margin-bottom: 5px;
}
.button-secondary:active {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 2%;
    color: #0D0D0D; 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 25px;
    gap: 10px; 
    background-color: #AFDAE9;
    border-radius: 8px;
    border: 3px solid #082650;
    margin-bottom: 5px;
}
.header-links {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: #082650;
    margin: 5px 0px;
    text-decoration: none;
}
.header-links:hover {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: #6D2650;
    margin: 5px 0px;
    text-decoration: none;
}
/* header CSS */
header {
    background-color: #AFDAE9;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    display: flex;
    margin-bottom: 2%;
    box-sizing: border-box;
    padding-right: 8%;
    padding-left: 8%;
    justify-content: space-between;
    align-items: flex-end;
    z-index: 10;
}
.logo {
    height: 35px;
    width: auto;
    text-align: center;
    margin-bottom: 5px;
}
nav {
    box-sizing: border-box;
    display: flex;
    align-items: flex-end;
}
nav > a {padding-inline: 10px;}
@media only screen and (max-width: 576px) {
    nav {flex-direction: column;}
    .header-links {display: none;}
    .button-primary {padding: 8px;}
    .logo {height: 20px;}
}
/* homepage CSS */
.hero {
    display: grid;
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 10%;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: 242px 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "profileimage bio";
    }
.gradient {
    font-family: 'salsa',cursive;
    font-size: 96px;
    background-color: #082650;
    background-image: linear-gradient(60deg, #CB8CCE, #307BB6, #6D2650);
    background-clip: text;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}
.profileimage {
    grid-area: profileimage;
    height: 242px;
    width: 242px;
    margin-right: 50px;
}

.bio {
    grid-area: bio;
    margin-bottom: 10%;
}
.btn-group {
    margin-top: 20px;
    grid-area: button;
}
.download {
    text-decoration: none;
    align-self: center;
    justify-self: center;
}
hr {
    border: 1px solid #AFDAE9;
    margin-top: 60px;
    margin-bottom: 60px;
    
}
.caseStudies {
    margin: auto;
    width: 90%;
}
.casestudy{
    position: relative;
}
.card-body {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: transparent;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
    opacity: 0;
}
.card-body a {
    text-decoration: none;
}
.toCaseStudy h6 {color: #307BB6;}
.toCaseStudy h4 {font-weight: 400;}
.toCaseStudy h3 {font-weight: 600;}
.casestudy:hover .card-body {
    height: 100%;
    opacity: 1;
  }
  .casestudy:hover .card-img-top {
   opacity: .2;
  }
@media (min-width: 1000px) and (max-width: 1400px)
{
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}
@media (max-width: 999px)
{
    .card-columns {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }
}
@media only screen and (max-width: 1000px) {
    .hero {
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: auto;
        height: auto;
        margin-top: 150px;
        align-items: flex-start;
    }
    .profileimage {
        justify-self: center;
        margin: auto;
    }
    .hero h1 {
    
        font-size: 60px;
    }
    .hero h3 {
        width: 100%;
        height: fit-content;
    }
    .btn-group {
        align-self: center;
        justify-self: center;
    }
}
/* Footer CSS */
footer {
    width: 100%;
}
.footer-flex {
    padding-left: 8%;
    padding-right: 8%;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: top;
    background-color: #FCFFFE;
}
.contact-options {
    display: flex;
    flex-direction: column;
    width: 90%;
}
.scroll {
    height: 30px;
    width: 30px;
    background-color: #FCFFFE;
    border: none;
    float: right;
}
.scroll img {
    height: 30px;
    width: 30px;
}
.linkedin {
    text-decoration: none;
    font-family: 'Hind', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 25px;
    letter-spacing: 2%;
    color: #082650;
}
.linkedin:hover {
    text-decoration: none;
    font-family: 'Hind', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 25px;
    letter-spacing: 2%;
    margin: 3px;
    color: #082650;
}
footer > p {
    text-align: center;
    color: #CB8CCE;
}
/* About Me CSS */
.aboutHero {
    margin-top: 10%;
    display: flex;
    margin-left: 8%;
    margin-right: 8%;
    align-items: center;
}
.aboutimage {
    height: auto;
    width: 260px;
    margin-right: 50px;
}
.aboutme h2 {font-size: 32px;}
.bio {
    display: flex;
    flex-direction: column;
    width: 85%;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 30px;
}
.bio h2 {align-self: center;}
.bio h5 {padding-bottom: 30px;}
.h5blue {
    font-family: 'Hind', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #307BB6;
}
.h5 {
    font-family: 'Hind', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 150%;
    letter-spacing: 0.02em;
}
@media only screen and (max-width: 750px) {
    .aboutHero {flex-direction: column;}
}
/* Case Study CSS */
.case-study-hero-p90 {
    height: calc(70vh);
    width: 100%;
    background-image: url(/Images/p90\ hero\ image.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 30px;
}
.case-study-hero-p90 h1 {margin-left: 8%;}
.abstract {
    margin-left: 8%;
    margin-right: 8%;
    display: grid;
    grid-template-columns: 6fr 4 fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "background overviewGrid";
}
.background {
    grid-area: background;
    margin-right: 40px;
}
.overviewGrid {
    grid-area: overviewGrid;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
.project-ryp
.overviewGrid-section {
    margin-right: 8px;
}
.body {
    width: 84%;
    margin-left: auto;
    margin-right: auto;
}
.body h2 {
    margin-top: 36px;
    margin-bottom: 16px;
}
.timeline {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.timeline-mobile {display:none}
.research {
    margin-top: 36px;
    margin-bottom: 16px;
}
.siteflow {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 24px;
}
.research p {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 24px;
}
.research ul {
    text-decoration: none;
    font-family: 'Hind', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 150%;
    letter-spacing: 0.03em;
    color: #082650;
}
.blue {color: #5a94c1;}
.persona {
    margin-top: 36px;
    margin-bottom: 16px;
}
.jennifer {
    margin-top: 24px;
    margin-bottom: 24px;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}
.persona h5 {
    display: block;
    width: 60%;
    margin: 16px auto;
    color: #5a94c1;
}
.site-architecture {
    margin-top: 36px;
    margin-bottom: 16px;
}
.userjourney {
    margin-left: auto;
    margin-right: auto;
    margin-top: 24px;
    margin-bottom: 10px;
    width: 80%;
}
.site-architecture p {text-align: center;}
.sitemap {
    margin-left: auto;
    margin-right: auto;
    margin-top: 24px;
    margin-bottom: 24px;
    width: 80%;
}
.design-intro {
    margin-top: 36px;
    margin-bottom: 16px;
}
.design-iteration {
    display: flex;
    padding-top: 24px;
    padding-bottom: 36px;
    align-items: center;
    justify-content: space-between;
}
.design-description {width: 40%;}
.design-ex {width: 50%;}
.final-design {
    margin-top: 36px;
    margin-bottom: 16px;
}
.conclusion {
    margin-top: 36px;
    margin-bottom: 16px;
}
.styletile {
    width: 70%;
    margin-top: 24px;
    margin-bottom: 24px;
    margin-right: auto;
    margin-left: auto;
}
.prototypes {
    margin: auto;
    margin-top: 36px;
}
@media only screen and (max-width: 700px) {
    .abstract {
        margin-left: 8%;
        margin-right: 8%;
        display: flex;
        flex-direction: column;
    }
    overviewGrid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    .design-iteration {
        display: flex;
        padding-top: 24px;
        padding-bottom: 36px;
        flex-direction: column;
        align-items: space-between;
        justify-content: center;
    }
    .design-description {width: 80%;}
    .design-ex {width: 80%;}
}
@media only screen and (max-width: 450px) {
    .timeline-mobile {
        display: unset;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    .timeline {display:none}
}
.case-study-hero-doi {
    height: calc(70vh);
    width: 100%;
    background-image: url(/Images/doi\ hero\ image.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 30px;
}
.case-study-hero-doi h1 {margin-left: 8%;}
.regular-text {
    text-decoration: none;
    font-family: 'Hind', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 150%;
    letter-spacing: 0.03em;
    color: #082650;
}
.persona p {text-align: center;}
.first-design {
    margin-left: auto;
    margin-right: auto;
    margin-top: 24px;
    margin-bottom: 24px;
    width: 70%;
}
.second-design {
    margin-top: 24px;
    margin-bottom: 24px;
    width: 50%;
}
.mobile-design {
    margin-top: 24px;
    margin-bottom: 24px;
    width: 10%;
}
.image-flex {
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.case-study-hero-neighborly {
    height: calc(70vh);
    width: 100%;
    background-image: url(/Images/Neighborly\ Case\ \ Study\ Thumbnail.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 30px;
}
.case-study-hero-neighborly h1 {margin-left: 8%;}
.competitor {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 24px;
    margin-bottom: 24px;
}